@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Karla;
}

.header {
    background-image: linear-gradient(to right, #ccbae9, #5a08df);;
}

.search-label {
    margin: 2% 0 0 0;
    font-weight: 700;
    font-size: 1.75em;
}

.card {
    border: none;
}

.current-day {
    margin: 2% 0 0 0;
    padding: 2% 0 0 2%; 
    border: solid 1px black;
}

.forecast-container {
    margin: 2% 0 0 0;
}

.individual-forecast {
    background-color: #7e41e0;
    color: white;
}

.forecast-item {
    display: inline;
}

.card-text {
    margin-bottom: 5%;
}

.forecast-header {
    margin-top: 2%;
    font-style: strong;
    font-size: 2em;
}

.low-uv {
    background-color: green;
}

.med-uv {
    background-color: yellow;
}

.high-uv {
    background-color: orange;
}

.extr-uv {
    background-color: red;
}